.body-contents {
  margin-top: 60px;
  overflow-y: hidden;
  height: 90vh;
}
* {
  margin: 0;
  padding: 0;
}

.body-content-left {
  display: flex;
  justify-content: flex-end;
  padding: 55px 120px;
}
.typography {
  font-weight: bolder;
  color: #373b3f;
  line-height: "1px";
}

.body-btn {
  margin-top: 13px !important;
  margin-bottom: 20px !important;
  color: white !important;
  background-color: rgb(28, 194, 159) !important;
  padding: 10px !important;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;

  padding-left: 3.7rem !important;
  padding-right: 3.7rem !important;
}
.bottom-text {
  display: flex !important;
  align-items: center !important;
  font-size: smaller !important;
  color: #373b3f;
}

.custom-btn {
  height: 50px;
  width: 50px;
  color: #9fe2d4 !important;
}
.custom-btn-two {
  height: 50px;
  width: 50px;
  color: #cbb8e7 !important;
}

.custom-btn-three {
  height: 50px;
  width: 50px;
  color: #da98ab !important;
}

.custom-btn-four {
  height: 50px;
  width: 50px;
  color: #a9abad !important;
}

.svg-list {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  padding: 0;
}
.svg-list li {
  list-style-type: none;
}

.typography-h6 {
  font-size: medium !important;
  width: 70%;
  padding: 0;
}

.icon {
  margin-left: 3px;
  margin-right: 3px;
}

.body-content-right .image-container img {
  size: 100%;
}

@media screen and (max-width: 600px) {
  .body-contents {
    overflow: hidden;
  }

  .hide-on-small-screen {
    display: none;
  }
  .headerText {
    font-size: 24px !important;
    width: 100% !important ;
  }
  .typography-h6 {
    font-size: 14px;
  }
  .left-side-content {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    min-height: 88vh !important;
    overflow-y: hidden;
  }
  .bottom-text {
    display: flex !important;
    align-items: center !important;
    font-size: 10px !important;
    color: #373b3f;
  }
  .icon {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media screen and (min-width: 601px) and (max-width: 912px) {
  .body-contents {
    overflow: hidden;
  }
  .hide-on-small-screen {
    display: none !important;
  }
  .right-side-content {
    display: none !important;
  }
  .headerText {
    font-size: 50px !important;
    width: 100% !important ;
  }

  .typography-h6 {
    font-size: 30px !important;
    width: 100% !important;
  }
  .left-side-content {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    min-height: 100vh;
  }
  .custom-btn {
    height: 80px;
    width: 80px;
    color: #9fe2d4 !important;
  }
  .custom-btn-two {
    height: 80px;
    width: 80px;
    color: #cbb8e7 !important;
  }

  .custom-btn-three {
    height: 80px;
    width: 80px;
    color: #da98ab !important;
  }

  .custom-btn-four {
    height: 80px;
    width: 80px;
    color: #a9abad !important;
  }
  .body-btn {
    font-size: 20px !important;
    width: 300px !important;
    height: 70px !important;
    margin-top: 13px !important;
    margin-bottom: 20px !important;

    background-color: rgb(28, 194, 159) !important;
    padding: 10px !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;

    padding-left: 3.7rem !important;
    padding-right: 3.7rem !important;
  }
  .bottom-text {
    display: flex !important;
    align-items: center !important;
    font-size: 20px !important;
    color: #373b3f;
  }
  .icon {
    width: 20px !important;
    height: 20px !important;
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media screen and (min-width: 912px) and (max-width: 1024px) {
  .body-contents {
    overflow: hidden;
  }
  
  .headerText {
    font-size: 33px !important;
    width: 100% !important ;
  }

  .typography-h6 {
    font-size: 17px !important;
    width: 100% !important;
  }

  .custom-btn {
    height: 40px;
    width: 40px;
    color: #9fe2d4 !important;
  }
  .custom-btn-two {
    height: 40px;
    width: 40px;
    color: #cbb8e7 !important;
  }

  .custom-btn-three {
    height: 40px;
    width: 40px;
    color: #da98ab !important;
  }

  .custom-btn-four {
    height: 40px;
    width: 40px;
    color: #a9abad !important;
  }
  .body-btn {
    margin-top: 13px !important;
    margin-bottom: 20px !important;

    background-color: rgb(28, 194, 159) !important;
    padding: 10px !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;

    padding-left: 3.7rem !important;
    padding-right: 3.7rem !important;
  }
  .bottom-text {
    display: flex !important;
    align-items: center !important;
    font-size: 20px !important;
    color: #373b3f;
  }
  .icon {
    margin-left: 5px;
    margin-right: 5px;
  }
  .svg-list {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    padding: 10px 0px !important;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1280px) {
  .body-contents {
    overflow: hidden;
  }
  .hide-on-small-screen {
    width: 100% !important;
    height: 89vh !important;
  }

  .headerText {
    font-size: 50px !important;
    width: 100% !important ;
  }

  .typography-h6 {
    font-size: 25px !important;
    width: 100% !important;
  }

  .custom-btn {
    height: 60px;
    width: 60px;
    color: #9fe2d4 !important;
  }
  .custom-btn-two {
    height: 60px;
    width: 60px;
    color: #cbb8e7 !important;
  }

  .custom-btn-three {
    height: 60px;
    width: 60px;
    color: #da98ab !important;
  }

  .custom-btn-four {
    height: 60px;
    width: 60px;
    color: #a9abad !important;
  }
  .body-btn {
    font-size: 20px !important;
    width: 300px !important;
    height: 70px !important;
    margin-top: 13px !important;
    margin-bottom: 20px !important;

    background-color: rgb(28, 194, 159) !important;
    padding: 10px !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;

    padding-left: 3.7rem !important;
    padding-right: 3.7rem !important;
  }
  .bottom-text {
    display: flex !important;
    align-items: center !important;
    font-size: 20px !important;
    color: #373b3f;
  }
  .icon {
    width: 20px !important;
    height: 20px !important;
    margin-left: 5px;
    margin-right: 5px;
  }
  .svg-list {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    padding: 10px 0px !important;
  }
}

@media screen and (min-width: 1024px) and(max-width:1300px) {
  .hide-on-small-screen {
    width: 100% !important;
    height: 89vh !important;
  }
}
@media screen and (min-width:910px){
  .body-content-left{
    margin-top: 100px;
  }
}

