.imgProp {
  margin-right: 10px;
  width: 50px;
}

.typography {
  flex-grow: 1;
  font-weight: 900 !important;
}
.appbar{
  background-color: #f7f7f7 !important;
  /* margin-bottom: 50px !important; */
}