.table-container {
    margin-top: 70px !important;
  }
  .centerText {
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  .h3404page {
    color: rgb(228, 29, 29) !important;
    padding: 10px 0px;
    font-size: 25px !important;
  }
  